<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework_58</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="/js/script.js"></script>
</head>
<body class="no-scroll">
<div class="container">
  <div class="row justify-content-center">

    <div class="col col-lg-7 posts-container" id="posts">
    </div>
    <form id="form" name="form" enctype="multipart/form-data" action="/post" method="post">
      <input type="hidden" name="userId" value="123">
      <input type="hidden" name="id" value="123">
      <input type="text" placeholder="Описание" name="des">
      <input type="file" name="photo" id="photo">
      <button type="button" id="addPost" onclick="a_fun()">Add</button>
    </form>

  </div>
</div>
<!-- Splash screen -->
<section id="page-splash" class="page-splash">
  <div class="card" id="registration-form1">
    <div class="card-body">
      <button class="btn" onclick="showLogForm()" style="font-size: 26px">Форма для входа</button>
      <form id="login-form">
        <h3>Вход</h3>
        <input type="text" name="username" class="form-control mb-1" placeholder="Логин">
        <input type="password" name="password" class="form-control mb-1" placeholder="Пароль">
        <button class="btn btn-outline-primary btn-block">Войти</button>
      </form>
    </div>
    <div class="card-body">
      <button class="btn" onclick="showRegForm()" style="font-size: 26px">Форма для регистрации</button>
      <form id="registration-form" class="registration-form">
        <h3>Регистрация</h3>
        <input type="email" name="email" class="form-control mb-1" placeholder="Email">
        <input type="text" name="name" class="form-control mb-1" placeholder="Полное имя">
        <input type="text" name="login" class="form-control mb-1" placeholder="Логин">
        <input type="password" name="password" class="form-control mb-1" placeholder="Пароль">
        <button class="btn btn-outline-primary btn-block">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</section>
</body>
</html>